<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Music Lessoner</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
<nav id="menubar">
  <div id="logo">
    <img id="Img" src="/images/5line.PNG">
    <a href="#">Music Lessoner</a>
  </div>
  <a href="#">♬</a>
  <a href="#">music</a>
  <a href="#">lessoner</a>
  <a href="#">login</a>
  <a href="#">upload</a>
</nav>
<div id="empty">
  for menubar
</div>
<div class="main" id="main1">
  <img id="main1Img" src="/images/instruments.jpg">
  <div>
    <h1>악기레스너</h1>
    <h2>선생님과 학생을 위한 음악 학습 및 연습 관리 어플리케이션</h2>
  </div>
</div>
<div class="main" id="main2">
  <img id="main2Img" src="/images/mainpage-2.png">
  <h1>
    선생님과 학습자<br>모두를 위한 어플리케이션
  </h1>
</div>
<div class="main" id="main3">
  <img id="main3Img" src="/images/group6.PNG">
  <h1>그룹기능을 이용하여<br>온라인 학생들을 관리</h1>
</div>
<div class="main" id="main4">
  <div id="main4_1">
    <img id="main4Img" src="/images/template2.jpg">
    <h1>한번 올린 템플릿은 재사용 가능</h1>
    <h2>악보+음원+피드백</h2>
  </div>
  <div id="main4_2">
    <img id="main4_2Img" src="/images/feedback.jpg">
    <h1>일대일 맞춤형 즉각적 피드백</h1>
  </div>
</div>
<footer>
  제 6회 K-Hackathon<br>
  과학기술정보통신부<br>
  (사)소프트웨어교육혁신센터<br>
  WAP-THE-HACK
</footer>
</body>
</html>