<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Music Lessoner : 로그인</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
<nav id="menubar">
    <div id="logo">
        <img id="Img" src="/images/5line.PNG">
        <a href="#">Music Lessoner</a>
    </div>
    <a href="#">♬</a>
    <a href="#">music</a>
    <a href="#">lessoner</a>
    <a href="#">login</a>
    <a href="#">upload</a>
</nav>
<div id="empty">
    for menubar
</div>
<div id="login">
    <h1>
        LOGIN
    </h1>
    <form action="#" method="post">
        <input class="idPassword" type="text" placeholder="아이디">
        <input class="idPassword" type="password" placeholder="비밀번호">
        <input id="keeplogin" type="checkbox"><label for="keeplogin">로그인 유지</label>
        <input id="submit" type="submit" value="로그인">
    </form>
    <div id="notlogin">
        <a href="#" id="find">ID/PW 찾기</a>
        <a href="#">회원가입</a>
    </div>
</div>
</body>
</html>