<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
<nav id="menubar">
    <a href="#">♬</a>
    <a href="#">music</a>
    <a href="#">MusicInstrument<br>Lessoner</a>
    <a href="#">login</a>
    <a href="#">search</a>
</nav>
<div id="empty">
    for menubar
</div>
<div id="upload">
    <div id="upload1">
        img
    </div>
    <div id="upload2">
        info
        <div id="musician">
            <label>작곡가 이름</label><br>
            <input type="text">
        </div>
        <div id="templateName">
            <label>템플릿 이름</label><br>
            <input type="text">
        </div>
        <div id="file">
            <label>파일 업로드</label><br>
            <input type="text">
        </div>
    </div>
</div>
<footer>
    this is footer
</footer>
</body>
</html>