<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Music Lessoner : 업로드</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body id="uploadSuccessbody">
<nav id="menubar">
    <div id="logo">
        <img id="Img" src="/images/5line.PNG">
        <a href="/">Music Lessoner</a>
    </div>
    <a href="#">♬</a>
    <a href="#">music</a>
    <a href="#">lessoner</a>
    <a href="/login">login</a>
    <a href="/upload">upload</a>
</nav>
<div id="empty">
    for menubar
</div>
<h1 id="uploadSuccess">
    업로드가 완료 되었습니다
</h1>
<footer>
    제 6회 K-Hackathon<br>
    과학기술정보통신부<br>
    (사)소프트웨어교육혁신센터<br>
    WAP-THE-HACK
</footer>
</body>
</html>