body {
  padding: 0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
body {
  margin: 0;
}
a {
  color: black;
  text-decoration: none;
}

h1 {
  font-size: 45px;
  text-align: center;
  border-bottom: 1px solid gray;
  margin: 0;
  padding: 20px;
}

ol {
  border-right: 1px solid gray;
  width: 100px; /*ol 태그는 화면 전체를 쓰기 때문에*/
  margin: 0;
  padding: 20px;
}
#grid{
  display:grid;   /*id가 grid인 태크의 display를 grid로 지정*/
  grid-template-columns: 150px 1fr;
}

#menubar{
  display:grid;
  grid-template-columns:1fr 1fr 1fr 1fr 1fr;
  text-align: center;
  text-align-all: center;
  /*border-top:1px solid gray;*/
  /*border-bottom: 1px solid gray;*/
  padding: 5px;
  position: fixed;
  width: 100%;
  color:white;
  background-color: #b48ef3;
  background-color: #2db6cd;
  background-color: #c297eb;
  background-color: #7ba3f0;
  background: rgba( 123, 163, 240,0.7);
  font-size: 15px;
}
#menubar a{
  color: white;
  display:flex;
  align-items: center;
  padding-left: 80px;
}

#grid ol{
  padding-left: 33px;
}
#grid #article{
  padding-left:25px;
}
@media(max-width:800px){    /*800보다 작아지면*/
  #grid{
    display: block;
  }
  ol{
    border-right:none;
  }
  h1{
    border-bottom: none;
  }
}

#empty{
  height: 45.2px;
  width: 649.6px;
  visibility: hidden;
}

.main{
  height: 700px;
  border-bottom: 1px solid gray;
}

footer{
  height: 150px;
  background-color: #f1f1f1
}

#main1{
  display:grid;   /*id가 grid인 태크의 display를 grid로 지정*/
  grid-template-columns: 1fr 1fr;
}

#main1 p{
  border-right: 1px solid gray;
  margin: 0;
}
#upload{
  width: 100%;
  text-align: center;
}
#upload1{
  align-items: center;
  width: 750px;
  height: 500px;
  background: white;
  border: solid 1px gray;
  margin: auto;
}
#upload2{
  align-items: center;
  width: 750px;
  background-color: #f4f4f4;
  border: solid 1px gray;
  height: 500px;
  margin: auto;
}

#musician{
  border:solid 1px gray;
  background: white;
}
#musician label{
  color: #2db6cd;
}

#templateName{
  border:solid 1px gray;
  background: white;
}
#templateName label{
  color: #c297eb;
}

#file{
  border:solid 1px gray;
  background: white;
}
#file label{
  color: #2db6cd;
}

#upload2 input{
  border: none;
  border-top: solid 1px gray;
  width: 99%;
}