body {
  padding: 0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  /*font-family: Calibri;*/
  font-family: SansSerif;
  font-weight: bold;
}

a {
  color: #00B7FF;
}
body {
  margin: 0;
}
a {
  color: black;
  text-decoration: none;
}

h1 {
  font-size: 45px;
  text-align: center;
  border-bottom: 1px solid gray;
  margin: 0;
  padding: 20px;
}

ol {
  border-right: 1px solid gray;
  width: 100px; /*ol 태그는 화면 전체를 쓰기 때문에*/
  margin: 0;
  padding: 20px;
}
#grid{
  display:grid;   /*id가 grid인 태크의 display를 grid로 지정*/
  grid-template-columns: 150px 1fr;
}
#logo{
  display: grid;
  grid-template-columns: 1fr 1fr;
}
#logo img{
  margin-left: 250px;
}

#menubar{
  display:grid;
  grid-template-columns:1fr 150px 150px 150px 150px 150px;
  text-align: center;
  text-align-all: center;
  /*border-top:1px solid gray;*/
  /*border-bottom: 1px solid gray;*/
  position: fixed;
  width: 100%;
  height: 50px;
  color:black;
  background-color: #b48ef3;
  background-color: #2db6cd;
  background-color: #c297eb;
  background-color: #7ba3f0;
  background-color: #fbe5d9;
  background-color: white;
  font-size: 15px;
}
#menubar a{
  color: #504e4d;
  display:flex;
  align-items: center;
  font-weight: 300;
}

#grid ol{
  padding-left: 33px;
}
#grid #article{
  padding-left:25px;
}
@media(max-width:800px){    /*800보다 작아지면*/
  #grid{
    display: block;
  }
  ol{
    border-right:none;
  }
  h1{
    border-bottom: none;
  }
}

#empty{
  height: 50px;
  width: 649.6px;
  visibility: hidden;
}

.main{
  height: 700px;
  border-bottom: 1px solid gray;
}

footer{
  height: 150px;
  background-color: #f1f1f1
}

.main #main1{
  background-color: #faf9f8;
}

#main0{

}

#main1{
  position:relative;
}

#main1 h1{
  position: absolute;
  top:40px;
  left: 80px;
  width: 700px;
}
#main1 h2{
  position: absolute;
  top:150px;
  left: 150px;
  width: 700px;
}
#upload{
  width: 100%;
  text-align: center;
}
#upload1{
  text-align: center;
  align-items: center;
  width: 650px;
  height: 400px;
  background: white;
  border: solid 1px gray;
  margin: auto;
}
#upload2{
  align-items: center;
  width: 650px;
  background-color: #f4f4f4;
  border: solid 1px white;
  height: 600px;
  margin: auto;
  font-weight: 600;
}

#musician{
  border:solid 1px lightgray;
  background: white;
  width: 80%;
  height: 115px;
  margin: auto;
  margin-top: 50px;
}
#musician div{
  font-size: 17px;
  padding-top: 5px;
  margin-right: 80px;
  color: #2db6cd;
  height: 25px;
}
#upload2 #Img{
  padding-top: 5px;
  margin: auto;
  margin-left: 200px;
  width: 25px;
  height: 25px;
}

#templateName{
  border:solid 1px lightgray;
  background: white;
  width: 80%;
  height: 115px;
  margin: auto;
  margin-top: 50px;
}
#templateName div{
  font-size: 17px;
  padding-top: 5px;
  margin-right: 80px;
  color: #c297eb;
  height: 25px;
}

#file{
  border:solid 1px lightgray;
  background: white;
  width: 80%;
  height: 115px;
  margin: auto;
  margin-top: 50px;
}
#file div{
  font-size: 17px;
  padding-top: 5px;
  margin-right: 80px;
  color: #2db6cd;
  height: 25px;
}

#upload2 input{
  border: none;
  border-top: solid 1px lightgray;
  width: 99%;
  height: 50%;
}

.textImg{
  display:grid;   /*id가 grid인 태크의 display를 grid로 지정*/
  grid-template-columns: 1fr 1fr;
}

#main1Img{
  width: 100%;
  height: 100%;
  opacity: 0.3;
}